<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Women in Tech</title>
        <meta name="description" content="Showcasingwomen in tech."/>
        <meta name="author" content="your name" />
        <link rel="stylesheet" href="/stylesheets/styles.css"/>
    </head>
    <body>
        <%- include("../partials/_head") -%>
        <% if (user !== null) { %>
            <p>You are logged in as <%= user.username %></p>
            <% } %>
            
        <h1>Women in Tech</h1>

        <form id="search-form" action="/" method="GET">
        <input name="name" id="name-query" type="text" />
        <input type="submit" value="Search" />
        </form>

        <% people.forEach(person => { %>
        <a href="/profile/<%= person.id %>"><p><%= person.name%></p></a>
        <% }) %>
        <%- include("../partials/_footer") -%>
    </body>
</html>