<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Women in Tech</title>
        <meta name="description" content="Showcasingwomen in tech."/>
        <meta name="author" content="your name" />
        <link rel="stylesheet" href="/stylesheets/styles.css"/>
    </head>
    <body>
        <%- include("../partials/_head") -%>
        <% if (user !== null) { %>
            <p id="welcome">Hi <%= user.username %>, you are now logged in!</p>
            <% } %>
            
        <!-- <h1>Women in Tech</h1> -->

        <form id="search-form" action="/" method="GET">
        <input name="name" id="name-query" type="text" />
        <input type="submit" value="Search" />
        </form>

        <div class="row">
        <% people.forEach(person => { %>
        <div>
        <a id="index_name" href="/profile/<%= person.id %>"><p><%= person.name%></p></a>
        <img id="index_pic" src="<%= person.photo %>" alt=<%= person.name %>>
        </div> 
        <% }) %>
        <%- include("../partials/_footer") -%>
        </div>
    </body>
</html>