<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Women in Tech</title>
        <meta name="description" content="Showcasingwomen in tech."/>
        <meta name="author" content="your name" />
        <link rel="stylesheet" href="/stylesheets/styles.css"/>
    </head>
    <body>
        <%- include("../partials/_head") -%>
        <% if (person) { %>
            <h1><%= person.name %></h1>
            <h2><%= person.tagline %></h2>
            <img src="<%= person.photo %>" alt=<%= person.name %>>
            <h3><%= person.bio %></h3>
            <!-- <h4><%= person.published_date %></h4> -->
          <% } %>

        <%- include("../partials/_footer") -%>
    </body>
</html>